numpy==1.20.1
opencv_python_headless==4.5.4.60
Pillow==9.1.0
torch==1.6.0
torchvision==0.7.0
mmcv-full -f https://download.openmmlab.com/mmcv/dist/cu101/torch1.6.0/index.html
mmdet===2.21.0
git+ssh://git@github.com/open-mmlab/mmocr.git#egg=oncrawl_api
streamlit==1.4.0
