numpy==1.20.1
opencv_python_headless==4.5.4.60
Pillow==9.1.0
torch==1.6.0
torchvision==0.7.0
mmcv-full==1.0.0+torch1.5.0+cu101 -f https://download.openmmlab.com/mmcv/dist/index.html
mmdet===2.21.0
mmocr==0.6.0
streamlit==1.4.0
